@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root{
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary:#667eea;
    --color-secondary:#764ba2;
    --boton-padding: 20px 40px;

}

body{
    font-family: "Raleway", sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1920px;
}

.subtitle{
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 35px;

}

.hero{
    height: 500px;
    background-image: var(--background), url(../assets/imagenes/IMG_3644.JPG);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.hero .container{
    padding: 0;
}

.nav{
    display: flex;
    justify-content: flex-end;
    height: 70px;
    font-weight: 700;

}


.nav--footer{
    font-weight: 300;
    justify-content: flex-start;

}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
}

.nav__items--cta{
    /* border: 1px solid white; */

}

.nav__items--footer{
    padding: 10px;
}

.hero__container{
    display: flex;
    height: calc(100vp - 70px);
    align-items: center;
    color: white;
}

.hero__texts{
    width: 80%;
    margin-bottom: 50px;

}

.hero__title{
    font-size: 3.2rem;

}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}

.hero__cta{
    display: inline-block;
    background: #fff;
    padding: var(--boton-padding);
    color: var(--color-primary);
    text-decoration: none;
    border-radius: 40px;
    
}

.hero__wave{
    position: absolute;
    width: 100%;
    fill: transparent;
    bottom: 0;
}

/* about*/

.presentation{
    padding-top: 20px;
    text-align: center;

}

.presentation__picture{
    width: 150px;
    height: 150px;

    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
    
}

.presentation__copy{
    width: 80%;
    margin: 0 auto;
}

.presentation__cta{
    display: inline-block;
    margin-top: 30px;
    background: var(--color-primary);
    color: #fff;
    text-decoration: none;
    padding: var(--boton-padding);
    border-radius: 40px;
}

.hero__cta:hover{
    background: var(--color-primary);
    color: white;
}

/* Mis habilidades*/

.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
}

.about__img{
    text-align: center;
}

.about__img--left{
    text-align: left;
}

.about__picture{
    max-width: 80%;
}

.about_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;

}

/*Proyectos*/

.projects{
    background: #f2f2f2;
}

.projects__grid{
    display: grid;
    height: 550px;
    grid-template-areas: 
    "lucas-ortiz-RMSLfydEKSI-unsplash sigmund-By-tZImt0Ms-unsplash lorenzo-herrera-p0j-mE6mGo4-unsplash"
    "lucas-ortiz-RMSLfydEKSI-unsplash  florian-olivo-Mf23RF8xArY-unsplash fausto-sandoval-u2qP5qCLgQ4-unsplash";
    gap: 10px;
}

img{
    width: 100%;
}

.projects__item{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.projects__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.projects__item:nth-of-type(1){
    grid-area: lucas-ortiz-RMSLfydEKSI-unsplash;
}

.projects__item:nth-of-type(2){
    grid-area: lorenzo-herrera-p0j-mE6mGo4-unsplash;
}

.projects__item:nth-of-type(3){
    grid-area: florian-olivo-Mf23RF8xArY-unsplash;
}

.projects__item:nth-of-type(4){
    grid-area: sigmund-By-tZImt0Ms-unsplash;
}

.projects__item:nth-of-type(5){
    grid-area: fausto-sandoval-u2qP5qCLgQ4-unsplash;
}

.proyects__hover{
    position: absolute;
    background: #d293e58c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out;

}

.projects__item:hover .proyects__hover{
    transform: translateX(0%);
}

.proyects__icon{
    margin-top: 10px;
    font-size: 30px;
}

/*Que dicen de nos*/

.testimony__grid{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.testimony__article{
    width: 95%;
    margin: auto;
    background: var(--color-secondary);
    box-shadow: 0 8px 10px rgba(66,66,66,.5);
    border-radius: 7px;
    padding: 30px 25px;
    color: white;
    margin-bottom: 50px;
}

.testimony__article:hover{
    box-shadow: none;
    background: #562a83;
}

.testimony__person{
    display: flex;
    align-items: center;
    margin-bottom: 20px;   
}

.testimony__img{
    width: 100px;
    min-width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    border:  3px solid white;
    margin-right: 30px;
}

.testimony__name{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.testimony__verification{
    color: #E0AFA0;
    font-weight: 700;
}

.testimony__review{
    font-weight: 300;
}


/*Footer*/

.footer{
    background: var(--color-primary);
}

.footer__grid{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
}

.footer__title{
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer__icons{
    display: flex;
    justify-content: space-evenly;

}

.footer__container-icons{
    display: inline-block;
    width: 60px;
    height: 60px;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
}

.footer__icon{
    color: inherit;
    font-size: 30px;
    text-decoration: none;
    line-height: 60px;
}

.fab.footer__icon{
    line-height: 60px;

}


